.content {
    max-width: 1000px;
    margin: auto;
    padding: 60px 20px 30px;
}

.about-box {
    background: #ffffff;
    border-radius: 15px;
    padding: 30px 25px;
    margin-bottom: 25px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #b30000;
}

.about-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}

.about-box h2 {
    color: #b30000;
    margin-bottom: 10px;
}

.about-box p {
    color: #555;
    line-height: 1.7;
    font-size: 1rem;
}

.about-box ul {
    margin-top: 10px;
    padding-left: 20px;
}

.about-box ul li {
    margin-bottom: 8px;
    color: #555;
}


@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.2rem;
    }

    .content {
        padding: 40px 15px 20px;
    }
}
